body{
    background-color: darkcyan;
    color:yellow;
}
nav ul{
    display:flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
nav li{
    list-style:none;
    background-color: saddlebrown;
    color: orange;
    margin: 0;
    flex:1;
    min-width: 200px;
    text-align: center;
    display: flex;
}
nav a, nav a:visited{
    text-decoration:none;
    width: 100%;
    padding: 8px 6px;
    color:crimson;
}
nav a:hover{
    color: orange;
    background-color: purple;
}
nav a:hover,nav a.active{
    color:hotpink;
    background-color:cornflowerblue;
}